*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family:Arial, sans-serif;
    background-color: white;
}

/* header */

.header{
    height: 100px;
    column-width: 100px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    border-bottom: 1px solid lightgray;
    background-color: #fdfdfd;
    padding-bottom: 2%;
}

.gicon{
    width: 150px;
    height: 70px;
    margin-left: 20px;
}

.search_bar{
display: flex;
justify-content: right;
align-items: center;
margin-left: 50px;
gap: 16px;
width: 800px;
height: 50px;
border-radius: 60px;
padding: 20px;
background-color: white;
box-shadow: -1px 2px 1px 0.4px lightgray;
}

.google-lens{
    width: 20px;
    height: 20px;
}

.side-icon{
    display:flex;
    justify-content: right;
    align-items: center;
    margin-left: 20rem;
    gap: 20px;
    margin-right: 20px;
}

.acct-image{
    width: 40px;
    height: 40px;
    border-radius: 22px;
}

a{
    outline: none;
    text-decoration: none;
}

.links-left{
    display: flex;
    flex-direction: row;
    gap: 10px;  
    position: absolute;
    bottom: 82%;
    left: 14.5%;
}

._nav{
    display: flex;
    justify-content: flex-start; 
    color: gray;
    gap: 10px;
}
._nav > a{
    color: grey;
}
.tool > a{color: grey;}

/* hero-section */

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-left {
    display: flex;
    flex-direction: column;
    margin-left: 140px;
}
.section-left > p {
    margin-left: 60px;
    font-size: 14px;
    color: grey;
    padding-top: 10px;
}

.below_nav{
    display: flex;
    flex-direction: row;
    gap: 8px;
    position: absolute;
    right: 47%;
    text-align: center;
    top: 34%;   
}

.btn_nav{
    width: 80px;
    height: 32px;
    color: rgb(59, 116, 59);
    background-color: rgb(210, 250, 226);
    border-radius: 20px;
    border: none;

}

.hero-name{
    line-height: 30px;
    margin-top: 32px;
    margin-left: 60px;
}

.football{
    display: flex; 
    justify-content: flex-start; 
    gap: 10px;
}
.more-results {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 29%;
    left: 14%;
}
.more-result {
    display: flex;
   flex-direction: row;
   position: absolute;
    bottom: -95.5%;
    left: 0%;
}


.first{
    width: 270px;
    height: 155px;
    border-radius: 16px 0 0 0;
    border-bottom: 1px solid white;
}
.second{
    width: 270px;
    height: 155px;
    border-radius: 0 16px 0 0 ;
    border-bottom: 1px solid white;
}
.third{
    width: 270px;
    height: 155px;
    border-right: 1px solid white;
    border-radius: 0 0 0 16px;
}
.fourth{
    width: 135px;
    height: 155px;
    border-right: 1px solid white;
}
.fifth{
    width: 135px;
    height: 155px;
    border-radius: 0 0 16px 0;
}
